html{
    font-size: 62.5%;
    font-family: "PT Sans";
}

@font-face {
    font-family: "PT Sans";
    src: url(./fonts/PT_Sans/PTSans-Regular.ttf);

}


body{
    height: 100vh;
    color: white;
    background-color: black;
    font-size: 1.6rem;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
    max-width: 60vh;
}

/* .wrapper{
    position: relative;
    max-width: 60vh;
    text-align: center;
    min-height: 100%;
    align-items: center;
} */

a{
    color: antiquewhite;
    text-decoration: none;
}

.deets{
    margin-bottom: 3rem;
    text-align: justify;
}

.heading > h2 {
    font-weight: 100;
    margin-top: -2rem;
    margin-bottom: 4rem;
    font-size: 2rem;   
}

ul{
    list-style: none;
    padding-left: 0;
}

.projects{
    margin-bottom: 4rem;
}
.social-media{
    padding: 5px;
}

.social-media > ul{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:hover:after{
    width:100%;
}

    
a:after {
        content: '';
        position: absolute;
        display: block;
        width: 0%;
        height: 2px;
        opacity: 0.8;
        margin-top: -0.6em;
        background: white;
        transform-origin: center left;
        transition: width 0.5s;
}